# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

os: osx
language: objective-c
cache: cocoapods
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod install --project-directory=ExampleApp
install:
- gem install xcpretty --no-document --quiet
script:
- set -o pipefail && xcodebuild test -workspace ExampleApp/ExampleApp.xcworkspace -scheme ExampleApp -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone X,OS=13.2'  ONLY_ACTIVE_ARCH=NO | xcpretty -c
- pod lib lint --quick
